# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Audio I/O folders
uploads/
outputs/

# IDE/project settings
.vscode/
.idea/
